// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-figure-icon-bh-name: 'FigureIcon--bh';
$-figure-icon-bh-x: 168px;
$-figure-icon-bh-y: 0px;
$-figure-icon-bh-offset-x: -168px;
$-figure-icon-bh-offset-y: 0px;
$-figure-icon-bh-width: 168px;
$-figure-icon-bh-height: 86px;
$-figure-icon-bh-total-width: 349px;
$-figure-icon-bh-total-height: 317px;
$-figure-icon-bh-image: '../images/sprite.png';
$-figure-icon-bh: (168px, 0px, -168px, 0px, 168px, 86px, 349px, 317px, '../images/sprite.png', 'FigureIcon--bh', );
$-figure-icon-caruaru-name: 'FigureIcon--caruaru';
$-figure-icon-caruaru-x: 168px;
$-figure-icon-caruaru-y: 172px;
$-figure-icon-caruaru-offset-x: -168px;
$-figure-icon-caruaru-offset-y: -172px;
$-figure-icon-caruaru-width: 168px;
$-figure-icon-caruaru-height: 86px;
$-figure-icon-caruaru-total-width: 349px;
$-figure-icon-caruaru-total-height: 317px;
$-figure-icon-caruaru-image: '../images/sprite.png';
$-figure-icon-caruaru: (168px, 172px, -168px, -172px, 168px, 86px, 349px, 317px, '../images/sprite.png', 'FigureIcon--caruaru', );
$-figure-icon-face-name: 'FigureIcon--face';
$-figure-icon-face-x: 336px;
$-figure-icon-face-y: 0px;
$-figure-icon-face-offset-x: -336px;
$-figure-icon-face-offset-y: 0px;
$-figure-icon-face-width: 13px;
$-figure-icon-face-height: 24px;
$-figure-icon-face-total-width: 349px;
$-figure-icon-face-total-height: 317px;
$-figure-icon-face-image: '../images/sprite.png';
$-figure-icon-face: (336px, 0px, -336px, 0px, 13px, 24px, 349px, 317px, '../images/sprite.png', 'FigureIcon--face', );
$-figure-icon-fortaleza-name: 'FigureIcon--fortaleza';
$-figure-icon-fortaleza-x: 168px;
$-figure-icon-fortaleza-y: 86px;
$-figure-icon-fortaleza-offset-x: -168px;
$-figure-icon-fortaleza-offset-y: -86px;
$-figure-icon-fortaleza-width: 168px;
$-figure-icon-fortaleza-height: 86px;
$-figure-icon-fortaleza-total-width: 349px;
$-figure-icon-fortaleza-total-height: 317px;
$-figure-icon-fortaleza-image: '../images/sprite.png';
$-figure-icon-fortaleza: (168px, 86px, -168px, -86px, 168px, 86px, 349px, 317px, '../images/sprite.png', 'FigureIcon--fortaleza', );
$-figure-icon-goiania-name: 'FigureIcon--goiania';
$-figure-icon-goiania-x: 0px;
$-figure-icon-goiania-y: 172px;
$-figure-icon-goiania-offset-x: 0px;
$-figure-icon-goiania-offset-y: -172px;
$-figure-icon-goiania-width: 168px;
$-figure-icon-goiania-height: 86px;
$-figure-icon-goiania-total-width: 349px;
$-figure-icon-goiania-total-height: 317px;
$-figure-icon-goiania-image: '../images/sprite.png';
$-figure-icon-goiania: (0px, 172px, 0px, -172px, 168px, 86px, 349px, 317px, '../images/sprite.png', 'FigureIcon--goiania', );
$-figure-icon-insta-name: 'FigureIcon--insta';
$-figure-icon-insta-x: 0px;
$-figure-icon-insta-y: 294px;
$-figure-icon-insta-offset-x: 0px;
$-figure-icon-insta-offset-y: -294px;
$-figure-icon-insta-width: 23px;
$-figure-icon-insta-height: 23px;
$-figure-icon-insta-total-width: 349px;
$-figure-icon-insta-total-height: 317px;
$-figure-icon-insta-image: '../images/sprite.png';
$-figure-icon-insta: (0px, 294px, 0px, -294px, 23px, 23px, 349px, 317px, '../images/sprite.png', 'FigureIcon--insta', );
$-figure-icon-lupa-name: 'FigureIcon--lupa';
$-figure-icon-lupa-x: 128px;
$-figure-icon-lupa-y: 258px;
$-figure-icon-lupa-offset-x: -128px;
$-figure-icon-lupa-offset-y: -258px;
$-figure-icon-lupa-width: 18px;
$-figure-icon-lupa-height: 18px;
$-figure-icon-lupa-total-width: 349px;
$-figure-icon-lupa-total-height: 317px;
$-figure-icon-lupa-image: '../images/sprite.png';
$-figure-icon-lupa: (128px, 258px, -128px, -258px, 18px, 18px, 349px, 317px, '../images/sprite.png', 'FigureIcon--lupa', );
$-figure-icon-marcas-name: 'FigureIcon--marcas';
$-figure-icon-marcas-x: 23px;
$-figure-icon-marcas-y: 294px;
$-figure-icon-marcas-offset-x: -23px;
$-figure-icon-marcas-offset-y: -294px;
$-figure-icon-marcas-width: 22px;
$-figure-icon-marcas-height: 22px;
$-figure-icon-marcas-total-width: 349px;
$-figure-icon-marcas-total-height: 317px;
$-figure-icon-marcas-image: '../images/sprite.png';
$-figure-icon-marcas: (23px, 294px, -23px, -294px, 22px, 22px, 349px, 317px, '../images/sprite.png', 'FigureIcon--marcas', );
$-figure-icon-maringa-name: 'FigureIcon--maringa';
$-figure-icon-maringa-x: 0px;
$-figure-icon-maringa-y: 0px;
$-figure-icon-maringa-offset-x: 0px;
$-figure-icon-maringa-offset-y: 0px;
$-figure-icon-maringa-width: 168px;
$-figure-icon-maringa-height: 86px;
$-figure-icon-maringa-total-width: 349px;
$-figure-icon-maringa-total-height: 317px;
$-figure-icon-maringa-image: '../images/sprite.png';
$-figure-icon-maringa: (0px, 0px, 0px, 0px, 168px, 86px, 349px, 317px, '../images/sprite.png', 'FigureIcon--maringa', );
$-figure-icon-masp-name: 'FigureIcon--masp';
$-figure-icon-masp-x: 0px;
$-figure-icon-masp-y: 86px;
$-figure-icon-masp-offset-x: 0px;
$-figure-icon-masp-offset-y: -86px;
$-figure-icon-masp-width: 168px;
$-figure-icon-masp-height: 86px;
$-figure-icon-masp-total-width: 349px;
$-figure-icon-masp-total-height: 317px;
$-figure-icon-masp-image: '../images/sprite.png';
$-figure-icon-masp: (0px, 86px, 0px, -86px, 168px, 86px, 349px, 317px, '../images/sprite.png', 'FigureIcon--masp', );
$-figure-icon-msg-name: 'FigureIcon--msg';
$-figure-icon-msg-x: 105px;
$-figure-icon-msg-y: 258px;
$-figure-icon-msg-offset-x: -105px;
$-figure-icon-msg-offset-y: -258px;
$-figure-icon-msg-width: 23px;
$-figure-icon-msg-height: 18px;
$-figure-icon-msg-total-width: 349px;
$-figure-icon-msg-total-height: 317px;
$-figure-icon-msg-image: '../images/sprite.png';
$-figure-icon-msg: (105px, 258px, -105px, -258px, 23px, 18px, 349px, 317px, '../images/sprite.png', 'FigureIcon--msg', );
$-figure-icon-phone-name: 'FigureIcon--phone';
$-figure-icon-phone-x: 161px;
$-figure-icon-phone-y: 258px;
$-figure-icon-phone-offset-x: -161px;
$-figure-icon-phone-offset-y: -258px;
$-figure-icon-phone-width: 15px;
$-figure-icon-phone-height: 15px;
$-figure-icon-phone-total-width: 349px;
$-figure-icon-phone-total-height: 317px;
$-figure-icon-phone-image: '../images/sprite.png';
$-figure-icon-phone: (161px, 258px, -161px, -258px, 15px, 15px, 349px, 317px, '../images/sprite.png', 'FigureIcon--phone', );
$-figure-icon-polos-name: 'FigureIcon--polos';
$-figure-icon-polos-x: 45px;
$-figure-icon-polos-y: 294px;
$-figure-icon-polos-offset-x: -45px;
$-figure-icon-polos-offset-y: -294px;
$-figure-icon-polos-width: 19px;
$-figure-icon-polos-height: 21px;
$-figure-icon-polos-total-width: 349px;
$-figure-icon-polos-total-height: 317px;
$-figure-icon-polos-image: '../images/sprite.png';
$-figure-icon-polos: (45px, 294px, -45px, -294px, 19px, 21px, 349px, 317px, '../images/sprite.png', 'FigureIcon--polos', );
$-figure-icon-quote-name: 'FigureIcon--quote';
$-figure-icon-quote-x: 0px;
$-figure-icon-quote-y: 258px;
$-figure-icon-quote-offset-x: 0px;
$-figure-icon-quote-offset-y: -258px;
$-figure-icon-quote-width: 39px;
$-figure-icon-quote-height: 36px;
$-figure-icon-quote-total-width: 349px;
$-figure-icon-quote-total-height: 317px;
$-figure-icon-quote-image: '../images/sprite.png';
$-figure-icon-quote: (0px, 258px, 0px, -258px, 39px, 36px, 349px, 317px, '../images/sprite.png', 'FigureIcon--quote', );
$-figure-icon-segmentos-name: 'FigureIcon--segmentos';
$-figure-icon-segmentos-x: 76px;
$-figure-icon-segmentos-y: 258px;
$-figure-icon-segmentos-offset-x: -76px;
$-figure-icon-segmentos-offset-y: -258px;
$-figure-icon-segmentos-width: 29px;
$-figure-icon-segmentos-height: 19px;
$-figure-icon-segmentos-total-width: 349px;
$-figure-icon-segmentos-total-height: 317px;
$-figure-icon-segmentos-image: '../images/sprite.png';
$-figure-icon-segmentos: (76px, 258px, -76px, -258px, 29px, 19px, 349px, 317px, '../images/sprite.png', 'FigureIcon--segmentos', );
$-figure-icon-wpp-name: 'FigureIcon--wpp';
$-figure-icon-wpp-x: 146px;
$-figure-icon-wpp-y: 258px;
$-figure-icon-wpp-offset-x: -146px;
$-figure-icon-wpp-offset-y: -258px;
$-figure-icon-wpp-width: 15px;
$-figure-icon-wpp-height: 15px;
$-figure-icon-wpp-total-width: 349px;
$-figure-icon-wpp-total-height: 317px;
$-figure-icon-wpp-image: '../images/sprite.png';
$-figure-icon-wpp: (146px, 258px, -146px, -258px, 15px, 15px, 349px, 317px, '../images/sprite.png', 'FigureIcon--wpp', );
$-figure-icon-yt-name: 'FigureIcon--yt';
$-figure-icon-yt-x: 39px;
$-figure-icon-yt-y: 258px;
$-figure-icon-yt-offset-x: -39px;
$-figure-icon-yt-offset-y: -258px;
$-figure-icon-yt-width: 37px;
$-figure-icon-yt-height: 26px;
$-figure-icon-yt-total-width: 349px;
$-figure-icon-yt-total-height: 317px;
$-figure-icon-yt-image: '../images/sprite.png';
$-figure-icon-yt: (39px, 258px, -39px, -258px, 37px, 26px, 349px, 317px, '../images/sprite.png', 'FigureIcon--yt', );
$spritesheet-width: 349px;
$spritesheet-height: 317px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-figure-icon-bh, $-figure-icon-caruaru, $-figure-icon-face, $-figure-icon-fortaleza, $-figure-icon-goiania, $-figure-icon-insta, $-figure-icon-lupa, $-figure-icon-marcas, $-figure-icon-maringa, $-figure-icon-masp, $-figure-icon-msg, $-figure-icon-phone, $-figure-icon-polos, $-figure-icon-quote, $-figure-icon-segmentos, $-figure-icon-wpp, $-figure-icon-yt, );
$spritesheet: (349px, 317px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
